.vehicle-searchCard--container {
    border-bottom: 1px solid lightgray;
    padding: 11px 10px 8px 10px;
    display: flex;
    flex-direction: column;
}

.vehicle-searchCard--container:hover {
    cursor: pointer;
    color: gray;
}

.vehicle-card--name {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3px;
}

.employeeDealership {
    color: gray;
    font-weight: 100;
    font-size: 16px;
}

.vehicle-searchCard--container span {
    font-weight: 100;
}

.vehicle-searchCard--container span:first-of-type {
    font-weight: 400;
}