.modal-add--body {
    overflow: scroll;
    max-height: 79%;
}

.modal--input.msrp-div {
    background-color: #FFF;
    padding: 3px 0 3px 6px;
}

.errorMessage {
    font-size: 11px;
    color: red;
    display: block;
    position: relative;
    top: -20px;
    padding-left: 2px;
}