.sales-dashboard--container {
    margin-left: 3%;
}
.sales-searchlist--container {
    margin-left: 13%;
}

.sales--subContainer {
    background-color: #F5F8FA;
    box-shadow: 1px 3px 6px 1px #cacaca;
    border-radius: 7px;
    width: 95%;
    height: 800px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sales--header {
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: #33475B;
}

.sales-searchBar {
    width: 400px;
    line-height: 35px;
    border: 2px solid gray;
    border-radius: 4px;
    padding-left: 7px;
}
.sales-searchBar:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 8px #9ecaed;
}

.searchResults {
    border: 2px solid gray;
    border-radius: 5px;
    background-color: #fff;
    height: 400px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 50%;
    margin-top: 5%;
}
/* Hide scrollbar for Chrome/Safari/Opera */
.searchResults::-webkit-scrollbar {
    display: none;
}

.addSale--btn {
    line-height: 40px;
    width: 200px;
    margin-top: 3.5%;
    border-radius: 5px;
    border: none;
    background-color: #FF7A59;
    color: #252222;
    transition: transform .5s ease;
}
.addSale--btn:hover {
    transform: scale(1.07);
}

.fieldset {
    padding: 0 !important;
    margin-bottom: 15px;
}

.vehicles--dropdown.open {
    margin-top: 20px;
    background-color: #F5F8FA;
    box-shadow: 1px 3px 11px 7px #a5a0a0;
    padding: 20px;
    border-radius: 8px;
    overflow: scroll;
    z-index: 100000;
    width: 600px;
    max-height: 400px;
    display: flex;
    flex-flow: wrap;
}

.vehicles--select {
    display: flex;
    flex-direction: column;
    width: 159px;
    padding: 5px;
    margin-right: 40px;
    margin-bottom: 30px;
    overflow: scroll;
    border: 1px solid black;
    border-radius: 7px;
    background-color: #fff;
    height: 100px;
}
.vehicles--select:nth-of-type(3n) {
    margin-right: 0;
}
.vehicles--select:hover {
    cursor: pointer;
    border: 1px solid #FF7A59;
}

.vin {
    font-size: 11px;
    color: gray;
}