.customer-card--container {
    border-bottom: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 15px;
}
.customer-card--container:hover {
    cursor: pointer;
    color: rgba(255, 125, 4, 0.801);
}

.customer-card--saleInvoice {
    margin-bottom: 5px;
}
