.headerBannerOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.headerBannerTwo {
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    margin-right: 10%;
    margin-top: 10px;
}

.nav-item {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-item:hover {
    color: rgba(255, 125, 4, 0.801);
    cursor: pointer;
}