.employees--container {
    margin-left: 13%;
}

.employees--subContainer {
    background-color: #f5f8fa;
    box-shadow: 1px 3px 6px 1px #cacaca;
    border-radius: 7px;
    width: 95%;
    height: 800px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employees--header {
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: #33475b;
}

.employees-searchBar {
    width: 400px;
    line-height: 35px;
    border: 2px solid lightgray;
    border-radius: 4px;
    padding-left: 7px;
}

.employees-searchBar:focus {
    outline: none;
    border-color: #6a78d1;
    box-shadow: 0 0 8px #6a78d1;
}

.searchResults.employee {
    border: 2px solid lightgray;
    box-shadow: 1px 5px 10px 1px lightgrey;
    border-radius: 5px;
    background-color: #fff;
    height: 400px;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    width: 50%;
    margin-top: 5%;
}

/* Hide scrollbar for Chrome/Safari/Opera */
.searchResults::-webkit-scrollbar {
    display: none;
}

.addEmployee--btn {
    width: 200px;
    line-height: 40px;
    border-radius: 5px;
    margin-top: 3.5%;
    border: none;
    background-color: #ff7a59;
    color: #252222;
    transition: transform 0.5s ease;
}

.addEmployee--btn--container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px;
}

.addEmployee--btn:hover {
    transform: scale(1.07);
}

.addEmployee--btn:focus {
    outline: none;
}

/* ##########
   EMPLOYEE MODAL STARTS HERE
##########*/

.modalHeader {
    display: flex;
    margin: 0 0 40px 0px;
    border-bottom: 1px solid gray;
    width: 100%;
    font-size: 28px;
    background-color: #6a78d1;
}

.modalHeader.addEmployee {
    padding: 10px 0 10px 20px;
}

.modal-add--body {
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}


.modal--input {
    width: 420px;
    line-height: 25px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 4px;
    padding-left: 7px;
    
}

.modal--input:focus {
    outline: none;
    border-color: #6a78d1;
    box-shadow: 0 0 8px #6a78d1;
}

.modal--input:last-of-type {
    margin-bottom: 0;
}

.employeeType--label {
    margin-top: 20px;
}

.employeeType--select {
    width: 420px;
    height: 35px;
    border-radius: 4px;
}
.employeeType--select:focus {
    outline: none;
}

.modal--addBtn {
    margin-top: none;
    margin-right: 3.5%;
    width: 200px;
    line-height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #ff7a59;
    color: #252222;
    transition: transform 0.5s ease;
}

.modal--addBtn:hover {
    transform: scale(1.07);
}

.closeBtn {
    border: 1px solid #ff7a59;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 15px;
    width: 100px;
    height: 40px;
    background-color: #fff;
    margin-left: 3%;
    color: #ff7a59 !important;
    transition: transform 0.4s ease;
}

.closeBtn:hover {
    transform: scale(1.07);
}

.closeBtn:active,
.closeBtn:focus {
    outline: none;
}

/* ##########
    END OF CUSTOM MODAL
##########*/