.employees--container {
    margin-left: 13%;
}

.employees--subContainer {
    background-color: #F5F8FA;
    box-shadow: 1px 3px 6px 1px #cacaca;
    border-radius: 7px;
    width: 95%;
    height: 800px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employees--header {
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: #33475B;
}

.employees-searchBar {
    width: 400px;
    line-height: 35px;
    border: 2px solid gray;
    border-radius: 4px;
    padding-left: 7px;
}
.employees-searchBar:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 8px #9ecaed;
}

.searchResults {
    border: 2px solid gray;
    border-radius: 5px;
    background-color: #fff;
    height: 400px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 50%;
    margin-top: 5%;
}

/* Hide scrollbar for Chrome/Safari/Opera */
.searchResults::-webkit-scrollbar {
    display: none;
}

.addEmployee--btn {
    width: 200px;
    line-height: 40px;
    border-radius: 5px;
    margin-top: 3.5%;
    border: none;
    background-color: #FF7A59;
    color: #252222;
    transition: transform .5s ease;
}
.addEmployee--btn:hover {
    transform: scale(1.07);
}
.addEmployee--btn:focus {
    outline: none;
}

/* Modal styling below */

.modal--form {
    margin-top: 70px !important;
    border-radius: 8px;
    max-height: 750px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome/Safari/Opera */
.modal--form::-webkit-scrollbar {
    display: none;
}

.modalHeader {
    margin: 10px 0 40px 0px;
    border-bottom: 1px solid gray;
    width: 100%;
    font-size: 28px;
}

.modalBody {
    border-radius: 8px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}


.fieldset {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    /* max-height: 450px;
    overflow: scroll; */
}

/* #### CUSTOM DEALERSHIP DROPDOWN STARTS HERE #### */
.dealership--label {
    margin-top: 20px;
}

.dealership--search {
    border: 1px solid white;
    border-bottom: 1px solid lightgray;
    width: 220px;
    line-height: 27px;
}
.dealership--search:focus {
    outline: none;
}

.dealership-list--dropdown {
    width: 221px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    transition: height .4s ease;
}
/* Hide scrollbar for Chrome/Safari/Opera */
.dealership-list--dropdown::-webkit-scrollbar {
    display: none;
}

.dealership-list--dropdown.open {
    height: 200px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 8px #9ecaed;
    background-color: #fff;
}

.dealerships-results--container {
    padding: 10px;
}

.dealership--select:hover {
    cursor: pointer;
    color: lightgray;
}
/* #### CUSTOM DEALERSHIP DROPDOWN ENDS HERE #### */

.modal--input {
    width: 220px;
    line-height: 25px;
    margin-bottom: 20px;
    border: 2px solid gray;
    border-radius: 4px;
    padding-left: 7px;
}
.modal--input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 8px #9ecaed;
}
.modal--input:last-of-type {
    margin-bottom: 0;
}

.employeeType--label {
    margin-top: 20px;
}

.modal--addBtn {
    margin: 10% 0 10% 3.0%;
}


/* CUSTOM MODAL BELOW */

.modal-bg {
    display: none;
}
.modal-box {
    display: none;
}

.modal-bg.show {
    display: block;
    position: fixed;
    margin-top: -42px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: background-color .7s linear;
}

.modal-box.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 470px;
    height: 100%;
    margin: 0 auto;
    background-color: #F5F8FA;
    padding: 20px;
    z-index: 10;
    animation: fadein;
    animation-duration: .5s; 
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.modal-bg.show.fade-out {
    background-color: rgba(0, 0, 0, .5);
    animation: fadeout;
    animation-duration: .7s; 
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    background-color: transparent;
}
.modal-box.show.fade-out {
    animation: fadeout;
    animation-duration: .5s; 
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes fadein {
    0% {
        margin-right: -470px;
    }
    100% {
        margin-right: 0px;
    }
}
@keyframes fadeout {
    0% {
        margin-right: 0px;
    }
    100% {
        margin-right: -470px;
    }
}

.closeBtn {
    border: 2px solid #308ef9;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 15px;
    width: 100px;
    background-color: #fff;
    margin-left: 36%;
    margin-bottom: 5px;
}